---
# Ansible Galaxy dependencies for envoy project

collections:
  - name: evotor.envoy
    type: git
    source: https://${GITLAB_TOKEN:+${GITLAB_TOKEN}@}gitlab.evotor.ru/iaac/ansible/envoy-collection.git
    version: main

# Roles
roles:
  - name: os_bird_bgp
    src: "https://${GITLAB_TOKEN:+${GITLAB_TOKEN}@}gitlab.evotor.ru/iaac/ansible/opensearch.git"
    scm: git
    version: main