---
# Зависимости для тестирования роли envoy_roles с BIRD BGP
- name: os_bird_bgp
  src: "https://${GITLAB_TOKEN:+${GITLAB_TOKEN}@}gitlab.evotor.ru/iaac/ansible/opensearch.git"
  scm: git
  version: main 