# {{ ansible_managed }}
# Listeners configuration

static_resources:
  listeners:
  {% for listener in envoy_listeners %}
    - name: {{ listener.name }}
      address:
        socket_address:
          address: {{ listener.address | default('0.0.0.0') }}
          port_value: {{ listener.port }}
      filter_chains:
        - filters:
            - name: envoy.filters.network.http_connection_manager
              typed_config:
                "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                stat_prefix: {{ listener.stat_prefix | default('ingress_http') }}
                codec_type: AUTO
                route_config:
                  name: {{ listener.route_config_name | default('local_route') }}
                  virtual_hosts:
                    - name: {{ listener.virtual_host_name | default('local_service') }}
                      domains: {{ listener.domains | default(['*']) | to_json }}
                      routes:
                        - match:
                            prefix: {{ listener.route_prefix | default('/') }}
                          route:
                            cluster: {{ listener.cluster | default('example_service') }}
                http_filters:
                  - name: envoy.filters.http.router
                    typed_config:
                      "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
  {% endfor %} 